body {
    padding-bottom: 20px;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.dl-horizontal dt {
    white-space: normal;
}

input,
select,
textarea {
    max-width: 280px;
}

.lib-logo {
    background-image: url("Images/Library-logo30.png");
    height: 30px;
    width: 30px;
    background-size: 100%;
    margin: auto;

}
.p10{
    width:10%;
}
.p25{
    width:25%;
}
.lib-menuitem {
    font-family: 'Julius Sans One', sans-serif;
    font-weight: bold;
    font-size: 15px;
    color: white;
    white-space: nowrap;
    padding-top: 20px;
    text-transform: uppercase;
    display: inline-block;
    min-width: 120px;
    height: 105px;
    text-align: center;
    transition: background-color 0.3s;
}
.float-left {
    float: left;
}
.float-right{
    float:right;
}
.lib-menulist{
    list-style:none;
    margin:0;
}
.lib-menulist > li > a {
    padding: 20px 15px;
}

.lib-second-navbar > li {
    float: right;
}
.lib-menuitem:hover, .lib-menuitem:active, .lib-menuitem:focus {
    background-color: rgba(255,255,255,0.2);
    color:white;
    text-decoration: none;
}
.lib-menuitem:before {
    content: "";
    display: block;
    margin: auto;
    min-width: 30px;
    min-height: 40px;
    background-position:center;
    background-repeat:no-repeat;
}
.home:before {
    background-image:url("Images/Library-logo30.png");
}
.new-book:before {
    background-image: url("Images/Library-new-book.png");
}
.register:before {
    background-image: url("Images/Library-register.png");
}
.login:before {
    background-image: url("Images/Library-login.png");
}
.logout:before {
    background-image: url("Images/Library-logout.png");
}
.usericon:before {
    background-image: url("Images/Library-user.png");
}
.manage-writters:before {
    background-image: url("Images/Library-new-writter.png");
}
.manage-users:before {
    background-image: url("Images/Library-users.png");
}
.lib-search-container{
    max-width:280px;
    margin:auto;
    margin-bottom:35px;
}
.lib-search-button{
    width:50%;
    height:17px;
    line-height:14px;
}
.lib-search {
    margin: auto;
}
.lib-rent{
    width:10%;
}
.lib-genre-controls {
    width:30%;
}
.lib-genre-table{
    width:65%;
}

.lib-error-message {
    display: none;
    left: 305px;
    top: 5px;
    background-image: url("Images/Library-validation-error.png");
    background-repeat: no-repeat;
    background-position: 10px 7px;
    background-color: #00b0d9;
    cursor: default;
    color: white;
    display: block;
    padding: 10px;
    padding-left: 50px;
    padding-right: 20px;
    position: absolute;
    z-index: 99999;
}
.lib-error-message:before {
    content: "";
    display: block;
    width: 0px;
    position: absolute;
    left: -20px;
    border-style: solid;
    border-width: 0px 20px 20px 0;
    border-color: transparent #00b0d9 transparent transparent;
}
.lib-error-message > ul {
    list-style: none;
    padding: 0;
    height: 10px;
}
.field-validation-valid{
    display:none;
}
.lib-checkbox-container{
    width:500px;
}
.lib-checkbox-group {
    float: left;
    line-height: 30px;
}
.lib-checkbox-label {
    margin-bottom:0;
    width: 100px;
    margin-left: 10px;
    margin-right: 10px;
}
.lib-checkbox {
    vertical-align: middle;
    margin: 0px 10px 0px 0px !important;
    width: 20px;
    height: 20px;
}
.max280{
    max-width:280px;
}
.max50{
    max-width:50px !important;
}

.lib-writer-new-table{
    background:white;
    cursor:default;
}
.lib-writer-table-header {
    background: #f0f6ff;
    display: table;
    table-layout:fixed;
    width: 100%;
    border: 1px;
    border-style: solid;
    border-color: #cbf5ff;
}
.lib-writer-table-header > div {
    display: table-cell;
    padding: 10px;
    vertical-align: middle;
    text-transform: uppercase;
    color: #00b0d9;
}
.lib-writer-name{
    width:20%;
}
.lib-writer-nob{
    width:20%;
}
.lib-writer-controls {
    width: 20%;
}
.lib-writer-table-row {
    display: table;
    table-layout:fixed;
    width: 100%;
    border-top:0;
    border-width:0px 1px 1px 1px;
    border-style: solid;
    border-color: #cbf5ff;
}
.lib-writer-table-row:hover {
    background-color: #f0f6ff;
}
.lib-writer-table-row > div {
    display: table-cell;
    vertical-align:middle;
    padding: 10px;
}
.lib-transparent-input, .lib-transparent-input:focus, .lib-transparent-input:active {
    background: none;
    width: auto;
    max-width: unset;
    border: 0;
    box-shadow: none;
    overflow-x: hidden;
    outline: none;
}
.lib-transparent-text, .lib-transparent-text:focus, .lib-transparent-text:active {
    background: none;
    width: 100%;
    max-width: unset;
    border: 0;
    box-shadow: none;
    overflow-x: hidden;
    outline: none;
    resize: vertical;
}

.lib-user-role-edit {
    clear: both;
    padding: 10px;
    width: 200px;
    text-align: right;
}
.lib-user-role-edit > .lib-checkbox{
    width:30px;
    height:30px;
}
.lib-pagination-container{
    width:100%;
    text-align:center;
}
.lib-pagination{
    display:inline-block;
}

@media screen and (max-width: 767px){
    input,.max280{
        max-width:unset;
    }
    .lib-menuitem {
        background-color: #10aed6;
        height: 50px;
        line-height: 10px;
    }
    .lib-menuitem:before{
        display:none;
    }
    .lib-menuitem:hover {
        background-color: #38bedf;
    }
    .lib-menulist{
        padding:0;
    }
    .navbar-collapse{
        padding:0;
        overflow:hidden;
    }
    .lib-second-navbar > li {
        float: none;
    }
    .lib-hamburger-menu-item{
        float:left;
        width:100%;
        clear:both;
    } 
    .navbar-inverse {
        height: 55px;
    }
    .navbar{
        min-height:55px;
    }
    .lib-error-message{
        position:unset;
        width:70%;
        margin:auto;
        margin-top:10px;
        margin-bottom:10px;
    }
    .lib-error-message:before{
        display:none;
    }

}