<li>@Html.ActionLink("New book", "Create", "Book", new { area = "" }, new { @class = "lib-menuitem float-left new-book lib-hamburger-menu-item" })</li>
<li>@Html.ActionLink("Writers", "Index", "Writer", new { area = "" }, new { @class = "lib-menuitem float-left manage-writters lib-hamburger-menu-item" })</li>